# Bernoulli and Gaussian Naive Bayes Algorithm

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB,GaussianNB
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df=pd.read_csv("bank.csv")

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [5]:
df.shape

(11162, 17)

In [7]:
df.describe()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,4.487905,1.199337,1.285164,0.015051,1528.538524,0.473123,0.130801,0.489697,15.658036,5.445709,371.993818,2.508421,51.330407,0.832557,2.477782,0.473840
std,11.913369,3.225132,0.625552,0.749478,0.121761,3225.413326,0.499299,0.337198,0.818724,8.420740,3.191939,347.128386,2.722077,108.758282,2.292007,1.002952,0.499338
min,18.000000,0.000000,0.000000,0.000000,0.000000,-6847.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000,-1.000000,0.000000,0.000000,0.000000
25%,32.000000,1.000000,1.000000,1.000000,0.000000,122.000000,0.000000,0.000000,0.000000,8.000000,3.000000,138.000000,1.000000,-1.000000,0.000000,2.000000,0.000000
50%,39.000000,4.000000,1.000000,1.000000,0.000000,550.000000,0.000000,0.000000,0.000000,15.000000,6.000000,255.000000,2.000000,-1.000000,0.000000,3.000000,0.000000
75%,49.000000,7.000000,2.000000,2.000000,0.000000,1708.000000,1.000000,0.000000,1.000000,22.000000,8.000000,496.000000,3.000000,20.750000,1.000000,3.000000,1.000000
max,95.000000,11.000000,2.000000,3.000000,1.000000,81204.000000,1.000000,1.000000,2.000000,31.000000,11.000000,3881.000000,63.000000,854.000000,58.000000,3.000000,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [9]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [10]:
df[['age','balance','duration']]=StandardScaler().fit_transform(df[['age','balance','duration']])

In [11]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1.491505,0,1,1,0,0.252525,1,0,2,5,8,1.930226,1,-1,0,3,1
1,1.239676,0,1,1,0,-0.459974,0,0,2,5,8,3.154612,1,-1,0,3,1
2,-0.019470,9,1,1,0,-0.080160,1,0,2,5,8,2.929901,1,-1,0,3,1
3,1.155733,7,1,1,0,0.293762,1,0,2,5,8,0.596366,1,-1,0,3,1
4,1.071790,0,1,2,0,-0.416876,0,0,2,5,8,0.867171,2,-1,0,3,1

In [13]:
x=df.iloc[:, :-1]
y=df.iloc[:, -1]

In [21]:
type(y)

pandas.core.series.Series

In [14]:
x.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1.491505,0,1,1,0,0.252525,1,0,2,5,8,1.930226,1,-1,0,3
1,1.239676,0,1,1,0,-0.459974,0,0,2,5,8,3.154612,1,-1,0,3
2,-0.019470,9,1,1,0,-0.080160,1,0,2,5,8,2.929901,1,-1,0,3
3,1.155733,7,1,1,0,0.293762,1,0,2,5,8,0.596366,1,-1,0,3
4,1.071790,0,1,2,0,-0.416876,0,0,2,5,8,0.867171,2,-1,0,3

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=21,test_size=0.20)

In [18]:
def model(M):
    M.fit(x_train,y_train)
    predte=M.predict(x_test)
    print(classification_report(y_test,predte))
    return M

## Bernoulli Naive Bayes

In [19]:
model(BernoulliNB())

              precision    recall  f1-score   support

           0       0.72      0.76      0.74      1148
           1       0.73      0.68      0.70      1085

    accuracy                           0.72      2233
   macro avg       0.72      0.72      0.72      2233
weighted avg       0.72      0.72      0.72      2233

BernoulliNB()

## Gaussian Naive Bayes

In [20]:
model(GaussianNB())

              precision    recall  f1-score   support

           0       0.79      0.72      0.75      1148
           1       0.73      0.80      0.76      1085

    accuracy                           0.76      2233
   macro avg       0.76      0.76      0.75      2233
weighted avg       0.76      0.76      0.75      2233

GaussianNB()

## Gaussian Model is providing more accurate results for this dataset.